asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.9
cloudinary==1.45.0
Django==6.0.6
django-cloudinary-storage==0.3.0
gunicorn==23.0.0
idna==3.18
packaging==26.2
pillow==12.3.0
python-dotenv==1.0.1
requests==2.34.2
six==1.17.0
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
whitenoise==6.12.0
